body{
  margin:0;
  overflow: hidden;
  background-color: black;
  color: antiquewhite;
}
@keyframes fadein-anim {
  100% {
    opacity: 1;
  }
}
.frame{
  border: solid 6px #f0f;
  border-top: double 6px #f0f;
  border-left: double 6px #f0f;
}
@media screen and (max-width: 1100px){
  #titlewall{width:100%;}
}
