body{
 background:#656;
 font-size:15px;
 font-family:serif;
 color:#fff;
 margin-top:5px;
 margin-bottom:5px;
 margin-left:10px;
}

p{
 margin-top:5px;
 margin-bottom:5px;
 margin-left:10px; 
}

.nowdate{
 margin:15px;
 color:#999;
 font-size:12px;
}

.red{
 color:#0f0;
}
